@{ 
    Banner banner = Model;
}

<div class="banner-area-wrapper" style="margin-bottom: 100px">
    <div class="banner-area text-center" style="background: rgba(0, 0, 0, 0) url('../img/banner/@banner.Image') no-repeat scroll center center / cover">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>@banner.Title</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



